@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p class="label label-info">ASP.NET is a free web framework for building …</p>
    <p class="label label-danger">ASP.NET is a free web framework for building …</p>
    <p class="label label-warning">ASP.NET is a free web framework for building …</p>
    <p class="text text-info">ASP.NET is a free web framework for building …</p>
    <p class="text text-success">ASP.NET is a free web framework for building …</p>
    <p class="text text-warning">ASP.NET is a free web framework for building …</p>
    <p class="alert alert-danger">ASP.NET is a free web framework for building …</p>
    <p class="alert alert-success">ASP.NET is a free web framework for building …</p> 
    <p class="alert alert-warning">ASP.NET is a free web framework for building …</p> 
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Studenten", "Index", "Student")</h2>
        <p><a class="btn btn-default" href="~/Student">Naar de pagina voor studenten &raquo;</a></p>
    </div>
    <div class="col-md-3 hidden-sm">
        <h2>@Html.ActionLink("Leraren", "Index", "Leraar")</h2>
        <p><a class="btn btn-default" href="~/Leraar">Naar de pagina voor leraren &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("User administrators", "Index", "User")</h2>
        <p><a class="btn btn-default" href="~/User">Naar de pagina voor user admins &raquo;</a></p>
    </div>
</div>

<div>
    <ul class="nav nav-pills">
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
    </ul>
</div>

<div>
    <ul class="breadcrumb">
        <li><a href="#">VDAB</a></li>
        <li><a href="#">IT opleidingen</a></li>
        <li><a href="#">Ontwikkelaar met C#</a></li>
    </ul>
</div>
<div>
    <ul class="pagination">
        <li class="active"><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>