@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Studenten", "Index", "Student")</h2>
        <p><a class="btn btn-default" href="~/Student">Naar de pagina voor studenten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Leraren", "Index", "Leraar")</h2>
        <p><a class="btn btn-default" href="~/Leraar">Naar de pagina voor leraren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("User administrators", "Index", "User")</h2>
        <p><a class="btn btn-default" href="~/User">Naar de pagina voor user admins &raquo;</a></p>
    </div>
</div>